{% extends 'core/base.html' %}

{% block title %}Товары{% endblock %}

{% block content %}
    <h2>Все товары</h2>
    <div class="product-grid">
        {% for product in products %}
            <div class="product-card">
                <div class="category-tag">{{ product.category.name }}</div>
                <h3>{{ product.name }}</h3>
                <div class="price">{{ product.price }} ₸</div>
            </div>
        {% empty %}
            <p>Товаров пока нет.</p>
        {% endfor %}
    </div>
{% endblock %}